.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.blind-version {
  font-size: 18px;
  line-height: 25px;
  color: #969696;
  transition: $transition;

  &:hover {
    color: #000;
  }
}
