---
title: Типовая текстовая
description: Description index
invert: true
---
{% extends "layouts/_layout-inner.html" %}

{% block content %}

<section class="textpage">
  <div class="textpage__wrapper">
    {% include "./partials/_breadcrumbs.html" %}

    <div class="textpage__text">
      <h1>Усадьба Рязанка - место рождения
        Петра Петровича Семенова-Тян-Шанского</h1>

      <p>Усадьба Рязанка на землях села Урусова была основана дедом учёного Николаем Петровичем в конце ХVIII века. В
        усадьбе родились его дяди: Александр Николаевич, Николай Николаевич, Михаил Николаевич, Василий Николаевич
        Семёновы. В старом усадебном доме в Рязанке, помимо самого П.П. Семёнова, родились его брат Николай Петрович
        Семёнов и сестра Наталья Петровна Семёнова (Грот).</p>

      <p>В родовом имении П.П. Семёнов-Тян-Шанский жил до 1841 г. с небольшими перерывами и впоследствии часто гостил у
        брата. Рязанка навсегда осталось для него местом, где впервые пробудился интерес к изучению природы в её
        целостности и многообразии.</p>

      <p>Основание усадьбы Рязанка связано с именем деда учёного Николая Петровича Семёнова – боевого офицера
        суворовских войск, участника тридцати семи сражений. После завершения двадцатилетней военной карьеры и выхода в
        отставку он женился на дочери помещика Бунина Марии Петровне и поселился в Урусово. Молодые получили в приданое
        земли в окрестностях села Урусова, где в 1790 г. был выстроен усадебный дом.</p>

      <p>Пётр Николаевич Семёнов после женитьбы на дочери московского архитектора Бланка – Александре Петровне
        (1801–1857) поселился в Рязанке. В 20–30-е гг. ХIХ в. Петром Николаевичем была задумана большая программа
        реорганизации имения, включая строительство новых домов для крепостных крестьян и дворовой прислуги,
        строительство каменной церкви в Урусово и нового имения. В 1830 г. Пётр Николаевич по собственному проекту
        выстроил в Рязанке новый усадебный дом.</p>

      <p>В своих мемуарах учёный так описывает новую усадьбу: «Планировка усадьбы была навеяна отцу имениями южной
        Франции. Обширный нижний этаж был каменный (кирпичный) и предназначался не столько для хозяйственных помещений
        (кухни, прачечной), сколько для жительства всей прислуги.</p>

      <h2>Главный дом (заголовок H2)</h2>

      <p>На этом обширном каменном здании был выстроен большой и высокий деревянный барский дом с просторным мезонином,
        окруженный со всех сторон просторною террасою, также покоющейся на нижнем каменном здании. В сторону въезда в
        усадьбу с этой террасы спускалась чрезвычайно широкая каменная лестница, по обеим сторонам которой, на скатах,
        обложенных белым известняком, были по два четырехугольных углубления, заполненных землею, и в них были посажены
        густые впоследствии кусты сирени. Двенадцать комнат барского этажа были высоки и просторны. Зала, служившая для
        балов и банкетов, во времена приездов многочисленных гостей имела 18 аршин длины и 12 ширины. Во всех приемных
        комнатах и спальнях полы были дубовые, паркетные. Роскошные двери были из полированной берёзы. Число небольших
        дверей в гораздо более обширном нижнем этаже было так велико, что впоследствии при разборке дома их насчитали
        более 70.</p>

      <figure>
        <div class="textpage__figure-img">
          <img src="images/textpage-pic.jpg" alt="">
        </div>
        <figcaption>
          <p><strong>Музей-усадьба П.П. Семенова-Тян-Шанского.</strong> Главный дом</p>
        </figcaption>
      </figure>

      <p>В сторону, противоположную от реки и обращенную к югу, к дому была пристроена обширная оранжерея. Просторный
        мезонин заключал в себе по обе стороны от коридора шесть комнат для приезжающих. Вся правая сторона лесистого
        оврага между ним и новой усадьбой была обращена в сад английской планировки, которой пленился мой отец в
        особенности во время своего пребывания в Англии и для которой впервые в нашей местности были посажены моим отцом
        группы лесных деревьев». Вокруг дома был разбит английский парк.</p>

      <p>Гостеприимный дом Семёновых был культурным центром округи. Рязанку посещали не только соседские помещики, но и
        театральные деятели и художники из Москвы и Петербурга. Хозяева усадьбы имели хорошую библиотеку, в которую
        входили не только художественные, но и научные издания, выписывали газеты и журналы с литературными новинками.
        Душой многочисленного семейства был деятельный и жизнерадостный Пётр Николаевич – поэт, знаток истории и русской
        литературы.</p>

      <h2>Род Семеновых (заголовок H2)</h2>

      <h3>Николай Петрович Семенов (1755-1837) (заголовок H3)</h3>

      <p>Секунд-майор, участник Суворовских походов. Дед П. Семёнова-Тян-Шанского.</p>

      <p>Обучался в Шляхетском корпусе. С 1768 по 1789 гг. служил в Кабардинском пехотном полку. Участник
        русско-турецкой войны. Н.П.Семёнов принимал участие в боевых действиях на Балканах под началом А.В.Суворова.
        Отличился при штурме передового редута во время осады Силистрии, в разведывательных поисках на Туртукай, в осаде
        Варны, в разгроме турецкого корпуса у Козлуджи. По окончании турецкой войны полк был назначен в состав
        Астраханского корпуса. С 1776 г. служил на Кавказе. Во время 2-й русско-турецкой войны участвовал в походе за
        Кубанью против войск шейха Мансура. Основатель родового гнезда в усадьбе Рязанка.</p>
    </div>
  </div>
</section>

{% endblock %}
