---
title: Типовая текстовая
description: Description index
invert: true
nobg: true
---
{% extends "layouts/_layout-inner.html" %}

{% block content %}

<section class="textpage">
  <div class="textpage__wrapper">
    {% include "./partials/_breadcrumbs.html" %}

    <div class="textpage__text">
      <h1>Усадьба Рязанка - место рождения
        Петра Петровича Семенова-Тян-Шанского</h1>

      <p>Усадьба Рязанка на землях села Урусова была основана дедом учёного Николаем Петровичем в конце ХVIII века. В
        усадьбе родились его дяди: Александр Николаевич, Николай Николаевич, Михаил Николаевич, Василий Николаевич
        Семёновы. В старом усадебном доме в Рязанке, помимо самого П.П. Семёнова, родились его брат Николай Петрович
        Семёнов и сестра Наталья Петровна Семёнова (Грот).</p>

      <p>В родовом имении П.П. Семёнов-Тян-Шанский жил до 1841 г. с небольшими перерывами и впоследствии часто гостил у
        брата. Рязанка навсегда осталось для него местом, где впервые пробудился интерес к изучению природы в её
        целостности и многообразии.</p>

      <p>Основание усадьбы Рязанка связано с именем деда учёного Николая Петровича Семёнова – боевого офицера
        суворовских войск, участника тридцати семи сражений. После завершения двадцатилетней военной карьеры и выхода в
        отставку он женился на дочери помещика Бунина Марии Петровне и поселился в Урусово. Молодые получили в приданое
        земли в окрестностях села Урусова, где в 1790 г. был выстроен усадебный дом.</p>

      <p>Пётр Николаевич Семёнов после женитьбы на дочери <a href="#">московского архитектора Бланка</a> – Александре
        Петровне
        (1801–1857) поселился в Рязанке. В 20–30-е гг. ХIХ в. Петром Николаевичем была задумана большая программа
        реорганизации имения, включая строительство новых домов для крепостных крестьян и дворовой прислуги,
        строительство каменной церкви в Урусово и нового имения. В 1830 г. Пётр Николаевич по собственному проекту
        выстроил в Рязанке новый усадебный дом.</p>

      <p>В своих мемуарах учёный так описывает новую усадьбу: «Планировка усадьбы была навеяна отцу имениями южной
        Франции. Обширный нижний этаж был каменный (кирпичный) и предназначался не столько для хозяйственных помещений
        (кухни, прачечной), сколько для жительства всей прислуги.</p>

      <h2>Главный дом (заголовок H2)</h2>

      <p>На этом обширном каменном здании был выстроен большой и высокий деревянный барский дом с просторным мезонином,
        окруженный со всех сторон просторною террасою, также покоющейся на нижнем каменном здании. В сторону въезда в
        усадьбу с этой террасы спускалась чрезвычайно широкая каменная лестница, по обеим сторонам которой, на скатах,
        обложенных белым известняком, были по два четырехугольных углубления, заполненных землею, и в них были посажены
        густые впоследствии кусты сирени. Двенадцать комнат барского этажа были высоки и просторны. Зала, служившая для
        балов и банкетов, во времена приездов многочисленных гостей имела 18 аршин длины и 12 ширины. Во всех приемных
        комнатах и спальнях полы были дубовые, паркетные. Роскошные двери были из полированной берёзы. Число небольших
        дверей в гораздо более обширном нижнем этаже было так велико, что впоследствии при разборке дома их насчитали
        более 70.</p>

      <figure>
        <div class="textpage__figure-img">
          <img src="/images/textpage-pic.jpg" alt="">
        </div>
        <figcaption>
          <p><strong>Музей-усадьба П.П. Семенова-Тян-Шанского.</strong> Главный дом</p>
        </figcaption>
      </figure>

      <p>В сторону, противоположную от реки и обращенную к югу, к дому была пристроена обширная оранжерея. Просторный
        мезонин заключал в себе по обе стороны от коридора шесть комнат для приезжающих. Вся правая сторона лесистого
        оврага между ним и новой усадьбой была обращена в сад английской планировки, которой пленился мой отец в
        особенности во время своего пребывания в Англии и для которой впервые в нашей местности были посажены моим отцом
        группы лесных деревьев». Вокруг дома был разбит английский парк.</p>

      <p>Гостеприимный дом Семёновых был культурным центром округи. Рязанку посещали не только соседские помещики, но и
        театральные деятели и художники из Москвы и Петербурга. Хозяева усадьбы имели хорошую библиотеку, в которую
        входили не только художественные, но и научные издания, выписывали газеты и журналы с литературными новинками.
        Душой многочисленного семейства был деятельный и жизнерадостный Пётр Николаевич – поэт, знаток истории и русской
        литературы.</p>

      <h2>Род Семеновых (заголовок H2)</h2>

      <div class="textpage__card">
        <h3>Николай Петрович Семенов (1755-1837) (заголовок H3)</h3>

        <p>Секунд-майор, участник Суворовских походов. Дед П. Семёнова-Тян-Шанского.</p>

        <p>Обучался в Шляхетском корпусе. С 1768 по 1789 гг. служил в Кабардинском пехотном полку. Участник
          русско-турецкой войны. Н.П.Семёнов принимал участие в боевых действиях на Балканах под началом А.В.Суворова.
          Отличился при штурме передового редута во время осады Силистрии, в разведывательных поисках на Туртукай, в
          осаде
          Варны, в разгроме турецкого корпуса у Козлуджи. По окончании турецкой войны полк был назначен в состав
          Астраханского корпуса. С 1776 г. служил на Кавказе. Во время 2-й русско-турецкой войны участвовал в походе за
          Кубанью против войск шейха Мансура. Основатель родового гнезда в усадьбе Рязанка.</p>
      </div>

      <div class="textpage__card">
        <h3>Петр Николаевич Семенов (1791-1832)</h3>

        <p>Участник Отечественной войны 1812 г. и Заграничных походов, поэт и драматург, участник декабристского
          движения. Отец П.П. Семёнова-Тян-Шанского.</p>

        <p>В 1801–1807 гг. П.Н. Семёнов учился в Московском университетском пансионе. С 1807 г. в лейб-гв. Измайловском
          полку. В 1812 г. П. Н. Семёнов участвовал в Отечественной войне. За сражение при Бородино был награжден
          золотой шпагой с надписью «За храбрость».</p>

        <p>Одно из первых литературных произведений Семёнова «Капитан Мартынов. Ода» (1808) – пародия на оду Державина
          «Бог». В 1808-1810 гг. он пишет трагедию в 3-х действиях «Митюха Валдайский» пародию на трагедию В. А. Озерова
          «Дмитрий Донской». Эта пародия ставилась в любительском театре Измайловского полка, а позднее в Петербургском
          театральном училище. П.Н.Семёнов – автор «Оды на обручение и бракосочетание вел. кн. Николая Павловича и вел.
          княжны Александры Федоровны», водевиля «Удача от неудачи, или Приключение в жидовской корчме», пьесы в стихах
          «Свет», переводов либретто опер «Амфитрион», «Исступленный», «Федра».</p>
      </div>

      <div class="textpage__gallery-slider">
        <div class="swiper-wrapper">
          <div class="textpage__gallery-slider-item  swiper-slide">
            <img src="/images/gallery-slider-thumb-1.jpg" alt="">
          </div>
          <div class="textpage__gallery-slider-item  swiper-slide">
            <img src="/images/gallery-slider-thumb-1.jpg" alt="">
          </div>
          <div class="textpage__gallery-slider-item  swiper-slide">
            <img src="/images/gallery-slider-thumb-1.jpg" alt="">
          </div>
          <div class="textpage__gallery-slider-item  swiper-slide">
            <img src="/images/gallery-slider-thumb-1.jpg" alt="">
          </div>
        </div>
        <div class="textpage__gallery-slider-controls">
          <button class="textpage__gallery-slider-prev">
            <svg viewBox="0 0 20 13" xmlns="http://www.w3.org/2000/svg">
              <use href="/images/sprite_auto.svg#arrow-prev" width="20" height="13" fill="currentColor" />
            </svg>
          </button>
          <div class="textpage__gallery-slider-pagination"></div>
          <button class="textpage__gallery-slider-next">
            <svg viewBox="0 0 20 13" xmlns="http://www.w3.org/2000/svg">
              <use href="/images/sprite_auto.svg#arrow-next" width="20" height="13" fill="currentColor" />
            </svg>
          </button>
        </div>
      </div>

      <p>Научное наследие П.П. Семёнова-Тян-Шанского, помимо монографий и статей, включает 11 томов издания «Россия.
        Полное географическое описание нашего отечества», 19 томов издания «Живописная Россия», представляющее
        «подробное, всестороннее художественно-научное описание Российской империи и народов ее населяющих», 5 томов
        «Географо-статистического словаря Российской империи», в котором были собраны все сведения о географических
        названиях на территории страны. Деятельность учёного была многогранной, примечательно, что он также был автором
        двухтомного издания «Этюды по истории нидерландской живописи» и выдающимся коллекционером. Замечательное
        собрание из 719 картин малых голландцев и более 3000 графических листов было передано им в 1910 г. в дар
        Эрмитажу, а уникальная коллекция (более чем 700 000 насекомых) подарена наследниками учёного Зоологическому
        музею. Он был одним из первых в России, кто поставил искусствоведение на научную основу.</p>

      <p>Его современники называли первым в России «картиноведом». Он издал огромный каталог своей коллекции на
        французском языке. В Пензе им было построено художественное училище и картинная галерея, попечителем которых он
        был. П.П. Семёнов-Тян-Шанский был избран почётным членом Академии Художеств.</p>

      <div class="textpage__table  rexponsive-table">
        <table>
          <tr>
            <th>Имя</th>
            <th>Годы жизни</th>
            <th>Род деятельности</th>
          </tr>
          <tr>
            <td>Александр Николаевич Семенов</td>
            <td>1792 - 1813(?)</td>
            <td>Офицер</td>
          </tr>
          <tr>
            <td>Николай Николаевич Семенов</td>
            <td>1796 - 1875</td>
            <td>Государственный деятель, Вятский гражданский губернатор 1851-1857 гг. (длинное поле)</td>
          </tr>
          <tr>
            <td>Василий Николаевич Семенов</td>
            <td>1801 - 1863</td>
            <td>Литератор, переводчик, издатель</td>
          </tr>
          <tr>
            <td>Николай Петрович Семенов</td>
            <td>1823 - 1904</td>
            <td>Государственный деятель, историк, ботаник, поэт
              и переводчик. Действительный член Императорского Русского географического общества.</td>
          </tr>
        </table>
      </div>

      <p>Велика роль учёного в деятельности Императорского Русского географического общества, бессменным
        вице-президентом которого он был на протяжении 42 лет. Кроме Русского географического общества, учёный был
        почётным членом ещё 73 научных обществ и организаций, действительным членом всех российских университетов. П.П.
        Семёнов-Тян-Шанский был активным деятелем крестьянской реформы и инициатором проведения первой всероссийской
        переписи населения. Научное наследие П.П. Семенова-Тян-Шанского, помимо монографий и статей, включает: </p>

      <ul>
        <li>11 томов издания
          «Россия. Полное географическое описание нашего отечества»</li>
        <li>19 томов издания
          «Живописная Россия», представляющее
          «подробное, всестороннее художественно-научное описание Российской империи
          и народов ее населяющих»</li>
        <li>5 томов «Географо-статистического словаря Российской империи», в котором были собраны
          все сведения о географических названиях
          на территории страны</li>
      </ul>

    </div>
  </div>

  <div class="textpage__large-slider">
    <div class="swiper-wrapper">
      <div class="textpage__large-slider-item swiper-slide">
        <picture>
          <source srcset="/images/textpage-large-slider-desktop.png" media="(min-width: 767px)">
          <img src="/images/textpage-large-slider-mobile.jpg" alt="Описание картинки">
        </picture>
        <p><strong>Рязанка. Парк.</strong> Надежда Павловна и Михаил Николаевич Семеновы</p>
      </div>
      <div class="textpage__large-slider-item swiper-slide">
        <picture>
          <source srcset="/images/textpage-large-slider-desktop.png" media="(min-width: 767px)">
          <img src="/images/textpage-large-slider-mobile.jpg" alt="Описание картинки">
        </picture>
        <p><strong>222Рязанка. Парк.</strong> Надежда Павловна и Михаил Николаевич Семеновы</p>
      </div>
      <div class="textpage__large-slider-item swiper-slide">
        <picture>
          <source srcset="/images/textpage-large-slider-desktop.png" media="(min-width: 767px)">
          <img src="/images/textpage-large-slider-mobile.jpg" alt="Описание картинки">
        </picture>
        <p><strong>333Рязанка. Парк.</strong> Надежда Павловна и Михаил Николаевич Семеновы</p>
      </div>
    </div>
    <div class="textpage__large-slider-controls">
      <button class="textpage__large-slider-prev" type="button">
        <svg viewBox="0 0 20 13" xmlns="http://www.w3.org/2000/svg">
          <use href="/images/sprite_auto.svg#arrow-prev" width="20" height="13" fill="currentColor" />
        </svg>
      </button>
      <div class="textpage__large-slider-pagination"></div>
      <button class="textpage__large-slider-next" type="button">
        <svg viewBox="0 0 20 13" xmlns="http://www.w3.org/2000/svg">
          <use href="/images/sprite_auto.svg#arrow-next" width="20" height="13" fill="currentColor" />
        </svg>
      </button>
    </div>
  </div>

  <div class="textpage__wrapper">
    <div class="textpage__text">
      <h2>Наследие П.П. Семенова-Тян-Шанского (заголовок H2)</h2>
      <p>Деятельность учёного была многогранной, примечательно, что он также был автором двухтомного издания «Этюды по
        истории нидерландской живописи» и выдающимся коллекционером. Замечательное собрание из 719 картин малых
        голландцев и более 3000 графических листов было передано им в 1910 г. в дар Эрмитажу, а уникальная коллекция
        (более чем 700 000 насекомых) подарена наследниками учёного Зоологическому музею. Он был одним из первых в
        России, кто поставил искусствоведение на научную основу.</p>

      <p>Его современники называли первым в России «картиноведом». Он издал огромный каталог своей коллекции на
        французском языке. В Пензе им было построено художественное училище и картинная галерея, попечителем которых он
        был. П.П. Семёнов-Тян-Шанский был избран почётным членом Академии Художеств.</p>

      <p>Личная дружба, продолжавшаяся всю жизнь, связывала Петра Петровича с Федором Михайловичем Достоевским, который
        писал о нём:</p>

      <figure>
        <blockquote>
          <p>Человек превосходный, умный. Семёнов прекрасный человек,
            а прекрасных людей надо искать!</p>
        </blockquote>
        <figcaption>Федор Михайлович Достоевский</figcaption>
      </figure>

      <p>Стоит вспомнить, что Петр Петрович был образцовым мужем и отцом. Он, вместе со своей супругой, воспитал
        шестерых детей, которые так же, как и отец внесли значительный вклад в историю нашего государства.</p>

      <p>Своеобразным итогом жизни учёного стало многотомное издание его мемуаров, где многие страницы посвящены его
        родине – усадьбам Рязанка и Гремячка на территории современной Липецкой и Рязанской областей. Территория,
        окружающая усадьбы, представляет собой целостный историко-культурный и природный комплекс, который тесно связан
        с представителями дворянского рода Семёновых, внёсших значительный вклад в историю России на поприще
        государственной и военной службы, науки, литературы и искусства.</p>

      <h3>Использованная литература (заголовок H3)</h3>

      <ol>
        <li>Мемуары П.П. Семенова-Тян-Шанского, т. 1. Детство и юность. 1827–1855 / Издательство «Кучково поле», 2018
        </li>

        <li>Грот Н.П. Из семейной хроники. Воспоминания для детей и внуков Н. Грот. Издание семьи, 1900</li>

        <li>Мемуары П.П. Семенова-Тян-Шанского, т. 1. Детство и юность. 1827–1855 / Издательство «Кучково поле», 2018
        </li>

        <li>Грот Н.П. Из семейной хроники. Воспоминания для детей и внуков Н. Грот. Издание семьи, 1900</li>
      </ol>

      <div class="textpage__gallery">
        <h2>Видеоэкскурсии по усадьбе</h2>
        <ul class="textpage__gallery-list">
          {% for item in range(0, 4) -%}
          <li class="textpage__gallery-item">
            <div class="video">
              <a class="video__link" href="https://youtu.be/X7V132de5Fk">
                <picture>
                  <source srcset="https://i.ytimg.com/vi_webp/X7V132de5Fk/maxresdefault.webp" type="/image/webp">
                  <img class="video__media" src="https://i.ytimg.com/vi/X7V132de5Fk/maxresdefault.jpg" alt="1. Пилот, разборы, ответы и лайвы">
                </picture>
              </a>
              <button class="video__button" aria-label="Запустить видео">
                <svg width="68" height="48" viewBox="0 0 68 48">
                  <path class="video__button-shape" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z">
                  </path>
                  <path class="video__button-icon" d="M 45,24 27,14 27,34"></path>
                </svg>
              </button>
            </div>
            <p><strong>С чего все начиналось...</strong> <br>
              Начало истории усадьбы П.П. Семенова-Тян-Шанского</p>
          </li>
          {%- endfor %}
        </ul>
      </div>

      <h2>Руководство музея-усадьбы</h2>

      <div class="textpage__contacts">
        <ul class="textpage__contacts-list">
          {% for item in range(0, 3) -%}
          <li class="textpage__contacts-item">
            <h4>Нестерова Галина Николаевна</h4>
            <p>Директор музея</p>
            <p><a href="tel:74742565306,,203">+7 4742 565 306</a>, вн. 203 <br>
              <a href="mailto:nesterova.ppsts@gmail.com">nesterova.ppsts@gmail.com</a>
            </p>
          </li>
          <li class="textpage__contacts-item">
            <h4>Манаенкова Алена Владимировна</h4>
            <p>Бухгалтерия</p>
            <p><a href="tel:74742565306,, 201">+7 4742 565 306</a>, вн. 201 <br>
              <a href="mailto:nesterova.ppsts@gmail.com">manaenkova.ppsts@gmail.com</a>
            </p>
          </li>
          {%- endfor %}
        </ul>
      </div>

      <div class="textapage__download  download">
        <ul class="download__list">
          <li class="download__item  download__item--pdf">
            <a href="#" download>Родина П.П. Семенова-Тян-Шанского – Липецк: ЛГПУ, 2019 - 128 с. (35 мб)</a>
          </li>
          <li class="download__item  download__item--doc">
            <a href="#" download>Заявление о вступлении в Клуб друзей Музея-усадьбы П. П. Семенова-Тян-Шанского</a>
          </li>
          <li class="download__item  download__item--pdf">
            <a href="#" download>Положение о Клубе друзей Музея-усадьбы П. П. Семенова-Тян-Шанского</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>


{% endblock %}
