<footer class="footer">
  <div class="footer__wrapper">
    <div class="footer__logo">
      <img src="/images/logo.svg" width="240" height="235" alt="Изображение логотипа">
      <ul class="footer__social-list">
        <li class="footer__social-item">
          <a href="#">
            <svg width="27" height="27" viewBox="0 0 27 27" xmlns="http://www.w3.org/2000/svg">
              <use href="/images/sprite_auto.svg#insta" fill="currentColor" />
            </svg>
          </a>
        </li>
        <li class="footer__social-item">
          <a href="#">
            <svg width="36" height="22" viewBox="0 0 36 22" xmlns="http://www.w3.org/2000/svg">
              <use href="/images/sprite_auto.svg#vk" fill="currentColor" />
            </svg>
          </a>
        </li>
        <li class="footer__social-item">
          <a href="#">
            <svg width="33" height="23" viewBox="0 0 33 23" xmlns="http://www.w3.org/2000/svg">
              <use href="/images/sprite_auto.svg#yt" fill="currentColor" />
            </svg>
          </a>
        </li>
        <li class="footer__social-item">
          <a href="#">
            <svg width="11" height="23" viewBox="0 0 11 23" xmlns="http://www.w3.org/2000/svg">
              <use href="/images/sprite_auto.svg#fb" fill="currentColor" />
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <div class="footer__nav">
      <div class="footer__nav-col">
        <a href="#">Посетителям</a>
        <ul class="footer__nav-sublist">
          <li class="footer__nav-item">
            <a href="#">Экскурсии
              и программы</a>
          </li>
          <li class="footer__nav-item">
            <a href="#">Правила посещения</a>
          </li>
          <li class="footer__nav-item">
            <a href="#">Клуб друзей</a>
          </li>
        </ul>
      </div>
      <div class="footer__nav-col  footer__nav-col--no-sublist">
        <a href="#">События</a>
      </div>
      <div class="footer__nav-col">
        <a href="#">Об усадьбе</a>
        <ul class="footer__nav-sublist">
          <li class="footer__nav-item">
            <a href="#">История усадьбы</a>
          </li>
          <li class="footer__nav-item">
            <a href="#">Личность Петра Семенова-Тян-Шанского</a>
          </li>
          <li class="footer__nav-item">
            <a href="#">Война. Блокада. Семеновы-Тян-Шанские</a>
          </li>
        </ul>
      </div>
      <div class="footer__nav-col">
        <a href="#">О музее</a>
        <ul class="footer__nav-sublist">
          <li class="footer__nav-item">
            <a href="#">Руководство</a>
          </li>
          <li class="footer__nav-item">
            <a href="#">Официальные документы</a>
          </li>
          <li class="footer__nav-item">
            <a href="#">Новости</a>
          </li>
        </ul>
      </div>
      <div class="footer__nav-col">
        <a href="#">Контакты</a>
        <ul class="footer__nav-sublist">
          <li class="footer__nav-item">
            <a href="#">Музей-усадьба</a>
          </li>
          <li class="footer__nav-item">
            <a href="#">Офис музея-усадьбы</a>
          </li>
        </ul>
      </div>
    </div>

    <ul class="footer__nav-links">
      <li class="footer__nav-link-item"><a href="#" class="footer__nav-link">Купить билет</a></li>
      <li class="footer__nav-link-item"><a href="#" class="footer__nav-link  footer__nav-link--white">Поддержать
          музей</a></li>
      <li class="footer__nav-link-item"><a href="#" class="footer__nav-link"><svg width="184" height="21"
            viewBox="0 0 184 21" xmlns="http://www.w3.org/2000/svg">
            <use href="/images/sprite_auto.svg#vr-text" fill="currentColor" />
          </svg></a></li>
    </ul>

    <div class="footer__copyright">
      <p>© Музей-усадьба «Рязанка», 2021</p>
    </div>

  </div>
</footer>
