<footer class="footer">
  <div class="footer__wrapper">
    <div class="footer__logo">
      <img src="images/footer-logo.png" width="240" height="235" alt="Изображение логотипа">
      <ul class="footer__social-list">
        <li class="footer__social-item">
          <a href="#">
            <svg width="27" height="27" viewBox="0 0 27 27" xmlns="http://www.w3.org/2000/svg">
              <use href="images/sprite_auto.svg#insta" fill="currentColor" />
            </svg>
          </a>
        </li>
        <li class="footer__social-item">
          <a href="#">
            <svg width="36" height="22" viewBox="0 0 36 22" xmlns="http://www.w3.org/2000/svg">
              <use href="images/sprite_auto.svg#vk" fill="currentColor" />
            </svg>
          </a>
        </li>
        <li class="footer__social-item">
          <a href="#">
            <svg width="33" height="23" viewBox="0 0 33 23" xmlns="http://www.w3.org/2000/svg">
              <use href="images/sprite_auto.svg#yt" fill="currentColor" />
            </svg>
          </a>
        </li>
        <li class="footer__social-item">
          <a href="#">
            <svg width="11" height="23" viewBox="0 0 11 23" xmlns="http://www.w3.org/2000/svg">
              <use href="images/sprite_auto.svg#fb" fill="currentColor" />
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
