<header class="header  header--inner  {% if invert %} header--invert{% endif %} {% if nobg %} header--nobg{% endif %} ">
  {% if nobg %}
  <div class="header__bg">
    <picture>
      <source srcset="/images/banner-bg.jpg" media="(min-width: 600px)">
      <img src="/images/banner-bg-mobile.jpg" alt="" aria-hidden="true">
    </picture>
  </div>
  {% endif %}
  <div class="header__wrapper">
    <div class="logo">
      <a href="index.html" class="logo__link  {% if invert %} logo__link--invert{% endif %}">
        <img src="/images/logo.svg" width="100" height="98" alt="Описание изображения">
        <p class="logo__text">музей-усадьба <br>
          П.П. Семенова-Тян-Шанского</p>
      </a>
    </div>
    {% include "../partials/_main-nav.html" %}
  </div>
</header>
