<nav class="main-nav">
  <button class="main-nav__button" type="button" aria-expanded="false" aria-controls="main-nav__list">
    <svg class="main-nav__icon" width="15" height="15" aria-hidden="true">
      <use class="main-nav__icon-menu" href="images/sprite_auto.svg#menu">
      </use>
      <use class="main-nav__icon-cross" width="15" height="15" href="images/sprite_auto.svg#cross"></use>
    </svg>
  </button>
  <ul class="main-nav__list  {% if invert %}main-nav__list--invert {% endif %}" id="main-nav__list">
    {% import "data/main-nav.html" as nav %}

    {% for item in nav.list %}
    <li class="main-nav__item">
      <a class="main-nav__link" href>{{item.title}}</a>
    </li>
    {% endfor %}
    <li class="main-nav__user-block">
      <div class="header__search">
        <button class="header__search-btn" type="button">
          <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <use href="images/sprite_auto.svg#search" />
          </svg>
        </button>
      </div>
      <a class="blind-version" href="#">Aa</a>
    </li>
  </ul>
</nav>

<script>


</script>
