<section class="promo">
  <div class="promo__text">
    <div class="promo__logo">
      <img src="/images/main-logo.png" alt="">
    </div>
    <div class="promo__main-content">
      <img class="promo__title" src="/images/promo-title.svg" alt="">
      <p>музей-усадьба <br>
        П.П. Семенова-Тян-Шанского</p>
      <ul class="promo__links-list">
        <li class="ptomo__links-item"><a class="promo__link-btn  promo__link-btn--buy" href="#">Купить билет</a></li>
        <li class="ptomo__links-item"><a class="promo__link-btn" href="#">Поддержать музей</a></li>
        <li class="ptomo__links-item"><a class="promo__link-btn" href="#">Сувениры</a></li>
      </ul>

      <a class="promo__link" href="#">
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 8.5V1H8.5" stroke="currentColor" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" />
          <path d="M31 8.5V1H23.5" stroke="currentColor" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" />
          <path d="M8.5 31H1V23.5" stroke="currentColor" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" />
          <path d="M23.5 31H31V23.5" stroke="currentColor" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
      </a>
    </div>
  </div>

</section>
