.footer {
  position: relative;
  margin-top: 35px;
  background-color: #e4f0e9;
  // border-top: 4px solid #587162;
  // border-image-slice: 1;
  // border-image-source: linear-gradient(to right, #587162, #61b893);

  &::before {
    content: "";
    position: absolute;
    top: -11px;
    left: 0;
    right: 0;
    display: block;
    height: 4px;
    background: linear-gradient(to right, #587162, #61b893);
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    height: 4px;
    background: linear-gradient(to right, #587162, #61b893);
  }
}

.footer__wrapper {
  @include wrapper;
  display: grid;
  row-gap: 20px;
  padding-bottom: 70px;
  background-image: url("../images/footer-signature.svg");
  background-position: right bottom 45%;
  background-repeat: no-repeat;
  background-size: auto;

  @media ($desktop) {
    display: grid;
    grid-template-columns: repeat(12, [col] 1fr);
    column-gap: 40px;
    row-gap: 90px;
    background-position: right bottom 5%;
  }
}

.footer__logo {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 140px;
  margin: 0 auto;
  margin-top: -30px;

  @media ($tablet) {
    width: 240px;
    align-items: flex-start;
    margin-top: -100px;
  }

  @media ($desktop) {
    margin-top: -45px;
    grid-row: 1/2;
    grid-column: col / span 2;
  }
}

.footer__nav {
  padding-top: 55px;

  @media ($tablet) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 30px;
  }

  @media ($desktop) {
    grid-row: 1/2;
    grid-column: 6 / span 7;
  }
}

.footer__nav-col {
  a {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #597263;
  }

  @media (max-width: 767px) {
    position: relative;
    margin-bottom: 20px;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 5px;
      display: block;
      width: 7px;
      height: 7px;
      border-top: 2px solid #587162;
      border-right: 2px solid #587162;
      transform: rotate(135deg);
    }

    &:hover {
      &::after {
        transform: rotate(-45deg);
      }
      .footer__nav-sublist {
        display: block;
      }
    }

    &--no-sublist {
      &::after {
        display: none;
      }
    }
  }
}

.footer__nav-item {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 18px;
  color: #000000;

  &:last-child {
    margin-bottom: 0;
  }

  a {
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }

  @media (max-width: 767px) {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
  }
}

.footer__nav-sublist {
  @include list-reset;
  padding-top: 30px;

  @media (max-width: 767px) {
    display: none;
    padding-top: 20px;
  }

  a {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  }
}

.footer__social-list {
  @include list-reset;
  display: flex;
  justify-content: center;
  gap: 45px;
  padding-top: 28px;
}

.footer__social-item {
  a {
    color: #597263;
    transition: $transition;

    &:hover {
      color: #79cf9b;
    }
  }
}

.footer__copyright {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #597263;

  @media ($desktop) {
    grid-row: 2/3;
    grid-column: col / span 3;
    font-size: 18px;
    line-height: 25px;
  }
}

.footer__nav-links {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;

  @media (max-width: 767px) {
    gap: 10px;
    margin-bottom: 47px;
    padding-top: 133px;
  }

  @media ($desktop) {
    grid-row: 2/3;
    grid-column: 6 / span 7;
  }
}

.footer__nav-link-item {
  @media (max-width: 767px) {
    width: 100%;
  }
}

.footer__nav-link {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 11px 30px 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  background: #597263;
  border-radius: 5px;
  border: 2px solid #597263;
  transition: $transition;

  &:hover {
    background-color: #fff;
    color: #597263;
  }

  &--white {
    color: #597263;
    background-color: #fff;

    &:hover {
      background-color: #597263;
      color: #fff;
    }
  }
}
