.header {
  &--main {
    display: grid;
    min-height: 100vh;
    grid-template-rows: 100px 1fr;

    @media ($small) {
      grid-template-rows: 80px 1fr;

      .header__wrapper {
        background-color: #fff;
      }
    }

    @media ($desktop) {
      grid-template-rows: 100px 1fr;

      .header__wrapper {
        background-color: transparent;
      }
    }
  }

  &--inner {
    margin-bottom: 30px;
    padding: 13px 0;
    background: #ffffff;
    box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.08);

    @media ($tablet) {
      margin-bottom: 50px;
    }
  }

  &--invert {
    min-height: 220px;
    margin-bottom: -45px;
    box-shadow: none;
    background-color: transparent;
    background-color: #000;
    background-image: url('../images/banner-bg-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    @media ($tablet) {
      min-height: 400px;
      margin-bottom: -70px;
      background-image: url('../images/banner-bg.jpg');
    }
  }
}

.header__wrapper {
  @include wrapper;
  grid-column: 1 / span 12;
  grid-row: 1/2;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;

  @media ($small) {
    background-color: transparent;
  }
}

.header__search {
  position: relative;

  &--open {
    .header__search-form {
      display: flex;
      position: absolute;
      top: -15px;
      right: 0;
    }
  }
}

.header__search-btn,
.header__search-form-btn {
  padding: 0;
  background-color: transparent;
  border: none;
  color: #8dbda0;
  cursor: pointer;
  transition: $transition;

  &:hover {
    color: #000;
  }
}

.header__search-form {
  display: none;
  width: 240px;
  padding-right: 13px;
  background: #ffffff;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  overflow: hidden;

  input {
    flex-grow: 1;
    padding: 13px 10px 13px 10px;
    font-size: 16px;
    line-height: 22px;
    color: #999999;
    border: none;
    outline: none;

    @media ($desktop) {
      padding-left: 30px;
    }
  }

  @media ($desktop) {
    width: 350px;
  }
}
