.logo {
  margin-right: auto;
}

.logo__link {
  display: flex;
  font-weight: 600;
  color: #587162;

  @media ($tablet) {
    font-size: 12px;
    line-height: 16px;
    flex-direction: column;
    align-items: flex-start;

    .logo__text {
      display: none;
    }
  }

  @media ($small) {
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
    font-size: 14px;
    line-height: 20px;

    .logo__text {
      display: block;
    }
  }

  @media ($desktop) {
    column-gap: 40px;
  }

  @media (max-width: 767px) {
    color: #000;
    font-size: 10px;
    line-height: 12px;
    column-gap: 10px;

    img {
      max-width: 48px;
    }
  }

  &--invert {
    color: #fff;
  }
}
