.logo {
  margin-right: auto;
}

.logo__link {
  display: flex;
  align-items: center;
  column-gap: 40px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #587162;

  @media (max-width: 767px) {
    color: #000;
    font-size: 10px;
    line-height: 12px;
    column-gap: 10px;

    img {
      max-width: 48px;
    }
  }

  &--invert {
    color: #fff;
  }
}
