.partners {
  // background-image: url("../images/partners-bg.png");
  // background-repeat: no-repeat;
  // background-position: right center;
  // padding-bottom: 330px;
  // background-attachment: fixed;
  position: relative;
}

.partners__wrapper {
  @include wrapper;
  display: grid;
  grid-template-columns: repeat(12, [col] 1fr);
  column-gap: 40px;
  padding-bottom: 65px;

  @media ($tablet) {
    padding-bottom: 125px;
  }

  @media (max-width: 767px) {
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }
}

.partners__list {
  @include list-reset;
  grid-column: col / span 7;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 100px;
  row-gap: 150px;

  @media (max-width: 767px) {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 40px;
  }
}

.partners__item {
  @media (max-width: 767px) {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.partners__parallax {
  // grid-column: 8 / span 5;
  // margin-right: -20px;

  width: 30%;
  position: absolute;
  right: 0;
  top: 20px;

  // &::after {
  //   content: '';
  //   position: absolute;
  // }

  @media (max-width: 767px) {
    // position: relative;
    position: static;
    margin-top: 40px;
    grid-column: 1/-1;
    width: 300px;
    margin-right: -20px;
    margin-left: auto;

    img {
    }
  }
}
