.rexponsive-table {
  margin-top: 30px;
  margin-bottom: 40px;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    width: 3px;
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: #e4f0e9;
    // box-shadow: inset 0 0 0 1px #0aa9be;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #597263;
    border-radius: 3px;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    tr {
      &:first-child {
        background: #e4f0e9;
      }
    }

    th {
      text-align: left;
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
      /* or 117% */

      color: #597263;
    }

    td {
      font-size: 14px;
      line-height: 18px;
      /* or 133% */

      color: #000000;
    }

    td,
    th {
      min-width: 150px;
      padding: 13px 10px 16px;

      &:first-child {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }

      &:last-child {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
  }

  @media ($tablet) {
    max-width: unset;
    margin-left: 0;
    margin-right: 0;
    margin-top: 60px;
    margin-bottom: 60px;
    overflow-x: unset;

    tr {
      display: grid;
      grid-template-columns: 1fr 1fr 2fr;
      margin-bottom: 10px;
      background: #ffffff;
      box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
      border-radius: 10px;
    }

    th {
      font-size: 14px;
      line-height: 14px;
    }

    td {
      padding: 18px 40px 20px;
      font-size: 14px;
      line-height: 18px;
    }
  }
}
