.vr {
  position: relative;
  min-height: 548px;
  background-color: #daecf4;
  // background: linear-gradient(
  //   90deg,
  //   #fff 0%,
  //   #fff 30%,
  //   #daecf4 30%,
  //   #daecf4 100%
  // );
  margin-bottom: 300px;
  // background-image: url("../images/vr-bg.png");
  // background-repeat: no-repeat;
  // background-position: left center;
  // background-attachment: fixed;
  // background-size: 50%;

  // &::before {
  //   content: "";
  //   position: absolute;
  //   top: -100px;
  //   left: 0;
  //   display: block;
  //   width: 50%;
  //   padding-top: 61.9%;
  // }

  @media (max-width: 767px) {
    margin-bottom: 320px;
  }
}

.vr__wrapper {
  // @include wrapper;
  display: grid;
  grid-template-columns: repeat(12, [col] 1fr);
  column-gap: 40px;
  height: 100%;

  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
  }
}

.vr__left {
  grid-column: col / span 7;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  img {
    position: absolute;
    top: -13%;
    left: 0;
  }

  p {
    position: relative;
    z-index: 3;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    margin-right: 140px;
    margin-top: auto;

    @media (max-width: 767px) {
      display: none;
    }
  }
}

.vr__right {
  grid-column: 8 / span 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 75px 180px 75px 0;

  p {
    font-size: 16px;
    line-height: 24px;
  }

  @media (max-width: 1024px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (max-width: 767px) {
    order: -1;
    margin-bottom: -50px;
  }
}

.vr__title {
  margin-bottom: 60px;
}

.vr__link {
  position: relative;
  z-index: 2;
  margin-top: 50px;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: max-content;
  padding: 11px 34px 10px;
  font-weight: bold;
  color: #3369a7;
  border: 2px solid #3369a7;
  border-radius: 5px;
  background-color: #fff;
  transition: $transition;

  &:hover {
    background-color: #3369a7;
    color: #fff;
  }
}
