.page {
  height: 100%;
}

.page__body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: $b-font;

  &--invert {
    background-color: #e4f0e9;
  }

  &--fixed {
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
  }
}

.page__main {
  flex-grow: 1;
  max-width: 1920px;
  margin: 0 auto;
}
