.page {
  height: 100%;
}

.page__body {
  min-height: 100%;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: $b-font;

  &--invert {
    background-color: #e4f0e9;
  }
}

.page__main {
  flex-grow: 1;
}
